<video #videoPlayer tabindex="0" autobuffer preload>
    <!--  <source type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' src="../assets/video/fingers.mp4">-->
      <!--TODO: Fix Hack for stackblitz-->
      <source type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'
              src="http://localhost:3000/video/TOP_DOWN.mov">
    
    </video>
    
    
    <section class="container">
      <div class="content">
        <h1>You feel lost inside of yourself?</h1>
      </div>
    </section>
    
    <section class="container">
      <div class="content">
        <h1> Lorem ipsum? </h1>
      </div>
    </section>
    
    <section class="container">
      <div class="content">
        <h1>Sometimes just the thought of facing the day, feels like broken glass in your soul?</h1>
      </div>
    </section>
    
    <section class="container">
      <div class="content">
        <h1>Into Silence</h1>
        <p> the solution brought to you by Silence At Work!</p>
      </div>
    </section>
    
    <section class="container">
      <div class="content">
        <h1>Register Now</h1>
        <p>Register today and start your journey to be your best you</p>
      </div>
    </section>
    